<ngx-spinner></ngx-spinner>
<nz-card *ngFor="let product of products | paginate: {
                                                      itemsPerPage: pageSize,
                                                      currentPage: page,
                                                      totalItems: total } " nzTitle={{product.name}}>
  <div nz-card-grid [ngStyle]="gridStyleImg">
    <img src="{{product.imageUrl}}" width="90">
  </div>
  <div nz-card-grid [ngStyle]="gridStyleContent" >
    {{product.tagline}}
  <br>
    <br>

    <p>
      <mat-icon matBadge={{product.commentsCount}} matBadgeColor="warn">comment</mat-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <mat-icon matBadge={{product.votesCount}} matBadgeColor="primary">navigation</mat-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <mat-chip-list aria-label="Fish selection">
        <mat-chip style="background-color: rgba(25,35,80,1); color: white" *ngIf="product.topics[0]">{{product.topics[0].name}}</mat-chip>
        <mat-chip style="background-color: rgba(25,35,80,1); color: white"*ngIf="product.topics[1]">{{product.topics[1].name}}</mat-chip>
        <mat-chip style="background-color: rgba(25,35,80,1); color: white" *ngIf="product.topics[2]">{{product.topics[2].name}}</mat-chip>
        <mat-chip style="background-color: rgba(25,35,80,1); color: white" *ngIf="product.topics[3]">....</mat-chip>
      </mat-chip-list>
    </p>
  </div>
</nz-card>
<br>
  <pagination-controls style="text-align: center"
    (pageChange)="handlePageChange($event)"
    previousLabel="Précédent"
    nextLabel="Suivant"
    responsive="true"
  ></pagination-controls>
