<nz-layout>
  <nz-header>
      <img src="../assets/logo-malou.png" width="80">
  </nz-header>

  <nz-content>
    <div nz-row>
      <div nz-col nzOffset="6" nzSpan="12">
        <br>
        <nz-card nzType="inner" nzTitle="Choisir une date">
          <div style="margin-left: 120px">
            <div [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }">
              <nz-calendar [nzDisabledDate]="disabledDate" [nzFullscreen]="false" (nzSelectChange)="onValueChange($event)" (nzPanelChange)="onPanelChange($event)"></nz-calendar>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <br> <br>
        <nz-tabset>
          <nz-tab [nzTitle]="titleTemplate0">
            <ng-template #titleTemplate0>
              <i nz-icon [nzType]="tabs[0].icon"></i>
              {{ tabs[0].name }}
            </ng-template>
            <app-product-list [date]="date"></app-product-list>
          </nz-tab>
          <nz-tab [nzTitle]="titleTemplate1">
            <ng-template #titleTemplate1>
              <i nz-icon [nzType]="tabs[1].icon"></i>
              {{ tabs[1].name }}
            </ng-template>
            <app-product-category-chart [date]="date"></app-product-category-chart>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </nz-content>
  <br>
  <nz-footer style="color:white;"> powred by Malou ©2022 </nz-footer>
</nz-layout>
